.btn-home {
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  height: 25%;
}

.btn-home:hover {
  background-color: rgb(0, 215, 215);
}

h1,
h2,
h3 {
  margin-top: 1rem;
}
