button.locale-button {
  font-family: 'Roboto', Arial, sans-serif;
}

button.locale-button:hover {
  font-family: 'Roboto-Bold', Arial, sans-serif;
}

button.locale-button.current-locale {
  font-family: 'Roboto-Bold', Arial, sans-serif;
}
